.left{
    display: none;
}

.navbar{
    display: block;
    position: fixed;
    padding: 1rem;
    color: #fff;
    width: 100vw;
    z-index: 9999;
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
   
}

.right{
    
    width: 100vw;
}
.conatainer{
/*    width: 100vw;*/
}
.right .images{
    display: grid;
    grid-template-columns: 1fr;
   
}

.right .images .img{
    width: 100vw;
    
}

.design{
    display: grid;
    grid-template-columns: 1fr;
}

.plans{
    grid-template-columns: 1fr;
}






















