/*GENERAL CLASSES*/
:root{
    --primary-color :#F44336;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
/*    line-height: 1.7;*/
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
textarea{
    resize: none;
}

.text-pri{
    color: var(--primary-color);
}

.text-white{
    color:white;
}

.white-btn{
    color: #000;
    background: #fff;
}

.red-btn{
    color: #fff;
    background: var(--primary-color);
}

.btn{
    padding: 0.5rem;
}

.text-black{
    color: #000;
}

.bottom-margin-2{
    margin-bottom: 2rem;
}
.bottom-margin-4{
    margin-bottom: 4rem;
}
.bottom-margin-6{
    margin-bottom: 6rem;
}.bottom-margin-7{
    margin-bottom: 7rem;
}

.top-margin-7{
    margin-top: 7rem;
}

.top-margin-4{
    margin-top: 4.3rem;
}
.top-margin-3{
    margin-top: 3rem;
}

.top-margin-2{
    margin-top: 2rem;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
h1{
  font-size: 4rem;  
    font-weight: 600;
}
h2{
    font-size: 3rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4;
}
.bold{
    font-weight: 600;
}

/*UTILITY CLASSES*/

.container{
    width : 90%;
    margin: 0 auto;
}

.p-1{padding:1rem;}
.p-2{padding:2rem;}
.p-3{padding:3rem;}

.py-1{padding: 1rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}
.py-0{padding: 0.5rem 0;}

.px-1{padding: 0 1rem;}
.px-2{padding: 0 2rem;}
.px-3{padding: 0 3rem;}


.l-heading{font-size: 3rem;}
.m-heading{font-size: 2rem;
font-weight: 600;}
.s-heading{font-size: 1.7rem;
    font-weight: 600;
}

.position-sticky{
    position: sticky;
}

.hr{
    width : 80px;
    border: solid 5px red;
    border-radius: 4px;
    line-height: 0;
/*    margin-left: 3rem;*/
}



.w-100{
    width: 100%;
}
.bg-primary{
    background: var(--primary-color);
}

.bg-white{
    background: #fff;
}

.navbar{
    background: var(--primary-color);
    display: none;
}
.main-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.left{
 height: 100vh;
    left: 0;
    bottom: 0;
    top: 0;
    display: block;
}
.left li a{
    color: #fff;
}
li:hover{
    background: #fff;
    color: var(--primary-color);
}
.left li:hover a{
    color: var(--primary-color);
}

.right{
    min-height: 2000px;
}

.main-wrapper li{
   font-weight: 600;
    padding: 0.3rem 1rem;
}


.main-wrapper ul li a{
    font-weight: 500;
    font-size: 1.2rem;
}



.right .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.7rem;
    grid-column-gap: 1rem;
}
.right .images .i{
    position: relative;
}


.overlay{
   
    position: absolute;
    height: 98.24%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255,255, 0.2);
    display: block;

}
.right .images .i:hover .overlay{
   
    display: none;
    
}
.right .images .i:hover{
    cursor: pointer;    
}

 .design{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
/*    margin: 1rem;*/
}

.card{
    margin: 0.5rem;
    filter: grayscale(60%);
    background: #ddd;
}

.info{
    background: #ddd;
}

.info .lead{
    color: #777;
}

.plans .plan ul li{
    background: #eee;
    border-bottom: solid 1px #ccc;
    padding: 1rem 10rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.plans .plan ul li .fa{
    font-size: 2rem;
    padding:1rem 0;
}
.plans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.plans .head{
    background: #333;
    color: #fff;
    padding: 2.5rem;
    font-size: 2rem;
}
.plans .head1{
   
    color: #fff;
    padding: 2.5rem;
    font-size: 2rem;
}

.plans .plan ul .signup{
    padding: 2rem 0;
}
.plans .plan ul .signup a:hover{
    background: #000;
    color: #fff;
}
.plans .plan ul .signup a{
    
    font-size: 1rem;
    padding: 0.7rem;
}

#contact form *{
    display: block;
    width: 100%;
    padding: 0.5rem 0;
}

#contact form input[type="submit"]{
    margin: 1.3rem 0;
    border: none;
    background: var(--primary-color);
    padding: 0.5rem;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-size: 1.1rem;
    
}

#contact form input[type="submit"]:hover
{
    background: #ccc;
    cursor: pointer;
}
footer{
    background: #ccc;
text-align: right;
    padding: 4rem 0.5rem;
}











